.hero-section {
    position: relative;
    padding: 80px 0 120px 0; 
}
.hero-section:after {
    content: ' ';
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0F6EF1), to(#0E5AC2));
    background-image: linear-gradient(to bottom, #0F6EF1, #0E5AC2);
    position: absolute;
    top: -400px;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    border-radius: 0;
    -webkit-transform: skewY(-3deg);
            transform: skewY(-3deg); 
}
.hero-section .hero-title {
    line-height: 42px; 
}

.topnav {
    background-color: rgba(0, 0, 0, 0);
}

body {
    padding-bottom: 0px !important; 
}